@import "tailwindcss";

@theme {
  --color-primary: #002040;
  --color-secondary: #E31837;
  --color-accent: #FFC72C;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary/50 rounded-full hover:bg-secondary;
}